<section class=" bg-dark py-3 text-capitalize text-center ">
    <div class="row">
        <div class="col col-md-6 col-12 d-flex flex-row  justify-content-center  align-items-center">
            <p class=" text-info fs-4 px-2">movies</p>
            <p class="text-white ">@copyright presrved</p>
        </div>

        <div class=" col col-md-6 col-12  d-flex flex-row  justify-content-center  align-items-center">
            <p class="text-white ">follow us on</p>
            <div>
                <ul class="text-info  d-flex flex-row  justify-content-center  align-items-center fs-3">
                    <li><i class="fa-brands fa-square-facebook text-info mx-3"></i></li>
                    <li><i class="fa-brands fa-linkedin text-info mx-3"></i></li>
                    <li><i class="fa-brands fa-instagram text-info mx-3"></i></li>
                </ul>
            </div>
        </div>

    </div>


</section>